#temp{
  font-size: 70px;
  display: inline-block;
  position:relative;
  bottom: 50px;
}

#zip{
  font-size: 20px;
  display: inline-block;
  position:relative;
  bottom: 150px;
}

#thermometer{
  width : 50px;
  height : 200px;
  background-color:white;
  display: inline-block;
  position:relative;
  left: 1in;
  border: 2px solid black;
  border-radius: 20px;
}

#temp{
  display: inline-block;
  position:absolute;
  bottom: 0px;
  border-radius: 20px;
}
