a{
  font: bold 25px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}



#temp{
  font-size: 70px;
  display: inline-block;
  position:relative;
  bottom: 50px;
}

#zip{
  font-size: 20px;
  display: inline-block;
  position:relative;
  right: 1.5in;
  bottom: 150px;
}

#thermometer{
  width : 50px;
  height : 200px;
  background-color:white;
  display: inline-block;
  position:relative;
  left: -.5in;
  border: 2px solid black;
  border-radius: 20px;
}

#temperature{
  display: inline-block;
  position:absolute;
  top: 47px;
  border-radius: 20px;
}
