doctype html
html
  head
    meta(chatset='utf-8')
    title Weather
    link(rel="stylesheet" href="/css/style.css")
  body
   h1 Check the Temperature
   form(method='post' action='/')
     input(type='text', name='zip', placeholder='zip code', autofocus=true)
     button Submit
